<div style="padding-top: 10px">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a  class="nav-link" routerLink="dashboard" routerLinkActive="active" >Dashboard</a>
          </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="question" routerLinkActive="active" >Question</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="options" routerLinkActive="active" >Options</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="answer" routerLinkActive="active" >Answer</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
  <router-outlet></router-outlet>

</div>
