<!-- <a href="/repo/new">Add New Question</a> -->
<table class="table table-responsive table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Question</th>
        <th>Category</th>
        <th>Difficulty</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions|async">
        <td>{{question.created_on}}</td>
        <td> <a [href]="'/questions/' + question.slug"><div [innerHTML]="question.question_body"></div></a></td>
        <td>{{question.is_page}}</td>
        <td> <a [href]="'/repo/new/' + question.slug">Edit</a></td>
      </tr>
    </tbody>
  </table>
