<div *ngIf="question$ | async as question">
  <div [innerHTML]="question.question_body"></div>
<button class="btn btn-primary">{{question.difficulty}}</button>
<button class="btn btn-primary">{{question.category}}</button>
<button *ngIf="question.is_public" class="btn btn-primary">Public</button>
  <div>
    <h3>Options</h3>
      <table class="table table-responsive">
          <tr *ngFor="let option of question.options;let i = index">
        <td>({{i+1}})</td>
            <td>
              <div [innerHTML]="option.option_body"></div>
              <div *ngIf="option.is_correct">Correct Answer</div>

            </td>
          </tr>
        </table>
  </div>
  <h3>Explanation</h3>
  <div [innerHTML]="question.explanation_body"></div>
  <input type="button" value="share on fb/twitter/whatsapp">
  <input type="button" value="Print">
  <input type="button" value="Edit">
  <input type="button" value="Delete">
</div>

