.form-control{
  width: auto;
}

.invalid-feedback{
  color: red;
}

.tab{
  border-width: 1px;
  border-collapse: gray;
  border-style:ridge;
  padding: 10px;
}

[quill-editor-element] {
  font-size: 20px;
}
