<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Home</a></li>
        <li *ngIf="authService.userDetails"><a routerLink="/repo">Repo</a></li>
        <!-- <li><a href="#">About</a></li> -->
        <!-- <li><a href="#">Projects</a></li> -->
        <li *ngIf="authService.userDetails">  <a routerLink="/contact">Contact</a></li>
      </ul>

    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">

    <div class="col-lg-2 sidenav">
        <div *ngIf="authService.user | async as user">
            <div>{{user.displayName}} </div> <img [src]="user.photoURL" style="height:75px;width:75px">
          <p><a href="#">Questions (20)</a></p>
          <p><a href="#">-Created- (2)</a></p>
          <p><a href="#">-Liked- (2)</a></p>
          <p><a href="#">-Draft- (2)</a></p>
          <p><a href="#">Interested Exams (5)</a></p>
          <p><a href="#">Categories (4)</a></p>
          <p><a href="#">Question Papers (1)</a></p>
        </div>
        <app-login (loggedIn)="onLoginChange($event)"></app-login>

    </div>
    <div class="col-lg-8 text-left">
        <div *ngIf="!authService.userDetails">
            Please login to use the Repository!
            <button (click)="login()">login</button>
          </div>
          <div>
            <router-outlet></router-outlet>
          </div>


    </div>
    <div class="col-lg-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>



