<!--The content below is only a placeholder and can be replaced.-->

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="height: 35px;background-color: orange">
      <div class="container">
        <a class="navbar-brand" href="#">A Healthy Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/posts/about">About</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/repo">Repository</a>
              </li> -->
          </ul>
        </div>
      </div>
    </nav>
  <div class="container" style="margin-top:35px; min-height: 700px">
      
    <router-outlet></router-outlet>

  </div>




